@import url('normalize.css');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	font-family: hevetica, verdana, arial, sans-serif;
	font-size: 10px;
	color: black;
	background-color: white;
}

body{
	font-size: 1.6rem;		/* 16px */
	width: 100%;
	min-height: 100vh;
}

header{
	width: 100%;
}

a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	cursor: pointer;
	text-transform: capitalize;
	outline: none;
}

a:hover,
a:focus{
	color: #80bd43 !important;
}

img{
	max-width: 100%;
}

ul, li{
	list-style: none;
}

/* -------------------------------------- 
#125581
#80bd43
#e51f1c
*/

/* -------------------------------------- 
   ----------- Mobile Menu --------------
----------------------------------------- */
.logo-nav{
	width: 100%;
	padding: 1rem;
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.toggle{
	width: 5rem;
	height: 3.6rem;
	font-weight: bold;
	text-align: center;
	line-height: 3.6rem;
	margin-right: 1.5rem;
	cursor: pointer;
	background-color: #125581;
}

.fa-bars{
	width: 100%;
	height: 100%;
	color: white;
}

.logo-nav > nav{	/* direct child nav */
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
}

.logo-nav nav > ul{	/* all child nav */
	width: 100%;
	background-color: #125581;
	padding: 0.5rem;
}

.logo-nav nav > ul > li{
	width: 100%;
	text-align: center;
}

.logo-nav nav > ul > li > a{
	display: block;
	width: 100%;
	height: 3rem;
	padding: 1rem;
	margin: 1rem;
	color: white;
	font-weight: bold;
	text-align: center;
	line-height: 2rem;
}

.logo-nav nav > ul > li:not(:nth-child(1)){
	border-top: 0.1rem solid white;
}

.project-sub-menu li:nth-child(1){
	border-top: 0.1rem solid white;
}

.project-sub-education,
.project-sub-water,
.project-sub-climate{
	display: none;
}

.remove{
	display: none;
}

.add{
	display: block;
}

.addFlex{
	display: flex;
}

/* -------------------------------------- 
   ---------- Media Queries -------------
----------------------------------------- */
@media screen and (min-width: 768px){
	.logo-nav{
		border-bottom: 0.1rem solid #125581;
	}

	.toggle{
		display: none;
	}

	.logo-nav > nav{	/* direct child nav */
		width: 50rem;
		display: block;
	}

	.logo-nav > nav{	/* direct child nav */
		position: unset;
	}

	.logo-nav > nav > ul{	/* direct child nav */
		background-color: white;
		display: flex;
		flex-direction: row;
		flex-wrap: no-wrap;
		justify-content: space-between;
		align-items: center;
	}

	.logo-nav nav > ul > li{
		text-align: center;
	}

	.logo-nav > nav > ul > li > a{
		color: #125581;
	}

	.logo-nav nav > ul > li:not(:nth-child(1)){
		border-top: none;
	}

	.projects-nav{
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		/*display: flex;*/
		flex-direction: row;
		flex-wrap: no-wrap;
		justify-content: space-between;
		align-items: center;
		background-color: #125581;
	}

	.project-sub-menu{
		display: none;
	}

	.project-sub-education,
	.project-sub-water,
	.project-sub-climate{
		display: flex;
		flex-direction: column;
		flex-wrap: no-wrap;
		justify-content: center;
		align-items: center;
	}

	.projects nav a{
		color: white;
	}

	.project-sub-education li:nth-child(1) a:hover,
	.project-sub-water li:nth-child(1) a:hover,
	.project-sub-climate li:nth-child(1) a:hover,
	.project-sub-education li:nth-child(1) a:focus,
	.project-sub-water li:nth-child(1) a:focus,
	.project-sub-climate li:nth-child(1) a:focus{
		color: white !important;
	}	

	.project-sub-education li:nth-child(1),
	.project-sub-water li:nth-child(1),
	.project-sub-climate li:nth-child(1){
		border-bottom: 0.1rem solid white;
	}	


}